extends ..//../layouts/default.pug


block main
    h1 Danh sach san pham

    table.table.table-hover.table-sm 
        thead 
            tr 
                th STT 
                th Hinh anh 
                th Tieu de 
                th Gia 
                th Trang thai 
                th Hanh dong 

        tbody 
            tr 
                td 1
                td 
                    img(
                        src="https://img5.thuthuatphanmem.vn/uploads/2021/12/14/anh-nen-ga-ran-2k_024406742.jpg", alt="San pham 1" width="100px" height="auto"
                    )
                td San pham 1
                td 100$
                td
                    a(href="#" class="badge badge-success") Hoat dong 
                td 
                    button(class="btn btn-warning btn-sm") Sua 
                    button(class="btn btn-danger btn-sm ml-l") Xoa 
 
